/* COLOR PALETTE:
#021373 - dark
#0540F2 - blue
#0554F2 - light
#0583F2 - lighter
#0D0D0D - darker
 */

html, body {
    margin: 0 auto;
    min-height: 100%;
    color: #021373;
}

.container {
    width: 1000px;
    margin: auto;
}

.action > p {
    font-size: 1.5em;
    color: #0540F2;
    text-emphasis: italic;
}

.action a {
    font-size: .8em;
    color: #0583f2;
}

.story > p {
    font-size: 1.5em;
    text-align: justify;
}

.story > .action-buttons a {
    font-size: 1.2em;
    color: #0583f2;
}
