/* COLOR PALETTE:
#829FD9 - dark
#027368 - blue
#BABF2A - light
#8C8303 - lighter
#594302 - darker
 */

html, body {
    margin: 0 auto;
    min-height: 100%;
    color: #829FD9;
}

.container {
    width: 1000px;
    margin: auto;
    border: 2px
    box-shadow: 2px 2px 0 #594302;
    background: transparent;
    opacity: .8;
    padding: 0 10px;
}

.action > p {
    font-size: 1.5em;
    color: #027368;
    text-emphasis: italic;
}

.action a, .action a:visited {
    font-size: .8em;
    color: #027368;
}

.story > p {
    font-size: 1.5em;
    text-align: justify;
}

.story > .action-buttons a, .story > .action-buttons a:visited {
    font-size: 1.2em;
    color: #027368;
}
